body {
    margin: 0;
    background-color: black;
}

.home-page-video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home-page-video-background video {
    width: 100%;
    height: 100%;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 75%;
    margin: 0 auto;
    min-height: 60em;
}

.home-page-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.home-page-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.content {
    margin: 20px;
    padding: 30px;
    background-color: rgb(51, 51, 51, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #bebbbb;
}

.explore-btn {
    background-color: #007bff;
    color: #bebbbb;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
}
