.movie-list-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 75%;
    min-height: 50em;
    margin: 0 auto;
    color: #bebbbb;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
